In [12]:
import pandas as pd
import networkx as nx

# Airport data

In [13]:
airport_metadata = pd.read_csv("../data/airport_metadata.csv")
airport_metadata.head()

,Airport,Country,IATA airport code,ICAO airport code,city
0,Tirana Airport,Albania,TIA,LATI,Tirana
1,Yerevan Zvartnots Airport,Armenia,EVN,UDYZ,Zvartnots
2,Graz Airport,Austria,GRZ,LOWG,Graz
3,Innsbruck Airport,Austria,INN,LOWI,Innsbruck
4,Klagenfurt Airport,Austria,KLU,LOWK,Klagenfurt

In [14]:
airport_coordinates = pd.read_csv("../data/airport_coordinates.csv")
airport_coordinates.head()

  iata_code       lat       lng
0       TIA  41.42190  19.71296
1       EVN  40.15250  44.40222
2       GRZ  46.99107  15.43963
3       INN  47.26022  11.34396
4       KLU  46.64500  14.32667

In [15]:
airport_data = airport_metadata.merge(airport_coordinates, left_on="IATA airport code", right_on="iata_code")
airport_data.head()

,Airport,Country,IATA airport code,ICAO airport code,city,iata_code,lat,lng
0,Tirana Airport,Albania,TIA,LATI,Tirana,TIA,41.42190,19.71296
1,Yerevan Zvartnots Airport,Armenia,EVN,UDYZ,Zvartnots,EVN,40.15250,44.40222
2,Graz Airport,Austria,GRZ,LOWG,Graz,GRZ,46.99107,15.43963
3,Innsbruck Airport,Austria,INN,LOWI,Innsbruck,INN,47.26022,11.34396
4,Klagenfurt Airport,Austria,KLU,LOWK,Klagenfurt,KLU,46.64500,14.32667

# Country data

In [16]:
country_metadata = pd.read_csv("../data/country_metadata.csv")
country_metadata.head()

      Country iso_country_code                    neighbors
0     Albania              ALB                  MNE,GRC,MKD
1     Armenia              ARM                  AZE,GEO,TUR
2     Austria              AUT  CZE,DEU,HUN,ITA,SVK,SVN,CHE
3  Azerbaijan              AZE              ARM,GEO,RUS,TUR
4     Belarus              BLR          LVA,LTU,POL,RUS,UKR

# Chronotrain data

In [17]:
chronotrain_ids = pd.read_csv("../data/chronotrains.csv")
chronotrain_ids.head()

,chronotrain_id,city,Airport,Country,IATA airport code,ICAO airport code
0,8302063.0,Tirana,Tirana Airport,Albania,TIA,LATI
1,NaN,Zvartnots,Yerevan Zvartnots Airport,Armenia,EVN,UDYZ
2,2778067.0,Graz,Graz Airport,Austria,GRZ,LOWG
3,2775220.0,Innsbruck,Innsbruck Airport,Austria,INN,LOWI
4,2774326.0,Klagenfurt,Klagenfurt Airport,Austria,KLU,LOWK

# City data

In [18]:
city_coordinates = pd.read_csv("../data/city_coordinates.csv")
city_coordinates.head()

         city        lat        lng
0      Tirana  41.327546  19.818698
1   Zvartnots  40.165270  44.342783
2        Graz  47.070714  15.439504
3   Innsbruck  47.269212  11.404102
4  Klagenfurt  46.636460  14.312225

# All data merged

In [19]:
all_data = chronotrain_ids.merge(airport_coordinates, left_on="IATA airport code", right_on="iata_code").merge(city_coordinates, on="city")
all_data = all_data.rename(columns={
    "lat_x": "airport_lat",
    "lng_x": "airport_lng",
    "lat_y": "city_lat",
    "lng_y": "city_lng"
})
all_data = all_data.merge(country_metadata, on="Country")
all_data.head()

,chronotrain_id,city,Airport,Country,IATA airport code,ICAO airport code,iata_code,airport_lat,airport_lng,city_lat,city_lng,iso_country_code,neighbors
0,8302063.0,Tirana,Tirana Airport,Albania,TIA,LATI,TIA,41.42190,19.71296,41.327546,19.818698,ALB,"MNE,GRC,MKD"
1,NaN,Zvartnots,Yerevan Zvartnots Airport,Armenia,EVN,UDYZ,EVN,40.15250,44.40222,40.165270,44.342783,ARM,"AZE,GEO,TUR"
2,2778067.0,Graz,Graz Airport,Austria,GRZ,LOWG,GRZ,46.99107,15.43963,47.070714,15.439504,AUT,"CZE,DEU,HUN,ITA,SVK,SVN,CHE"
3,2775220.0,Innsbruck,Innsbruck Airport,Austria,INN,LOWI,INN,47.26022,11.34396,47.269212,11.404102,AUT,"CZE,DEU,HUN,ITA,SVK,SVN,CHE"
4,2774326.0,Klagenfurt,Klagenfurt Airport,Austria,KLU,LOWK,KLU,46.64500,14.32667,46.636460,14.312225,AUT,"CZE,DEU,HUN,ITA,SVK,SVN,CHE"

## Only valid cities

In [20]:
valid_data = all_data.dropna()
valid_data.head()

,chronotrain_id,city,Airport,Country,IATA airport code,ICAO airport code,iata_code,airport_lat,airport_lng,city_lat,city_lng,iso_country_code,neighbors
0,8302063.0,Tirana,Tirana Airport,Albania,TIA,LATI,TIA,41.42190,19.71296,41.327546,19.818698,ALB,"MNE,GRC,MKD"
2,2778067.0,Graz,Graz Airport,Austria,GRZ,LOWG,GRZ,46.99107,15.43963,47.070714,15.439504,AUT,"CZE,DEU,HUN,ITA,SVK,SVN,CHE"
3,2775220.0,Innsbruck,Innsbruck Airport,Austria,INN,LOWI,INN,47.26022,11.34396,47.269212,11.404102,AUT,"CZE,DEU,HUN,ITA,SVK,SVN,CHE"
4,2774326.0,Klagenfurt,Klagenfurt Airport,Austria,KLU,LOWK,KLU,46.64500,14.32667,46.636460,14.312225,AUT,"CZE,DEU,HUN,ITA,SVK,SVN,CHE"
5,2772400.0,Linz,Linz Airport,Austria,LNZ,LOWL,LNZ,48.23322,14.18751,48.306940,14.285830,AUT,"CZE,DEU,HUN,ITA,SVK,SVN,CHE"

# Network data

## Countries and their neighbors

In [21]:
country_g = nx.read_gml("../data/country_network.gml")
print("All countries:", country_g.nodes)

All countries: ['ALB', 'MNE', 'GRC', 'MKD', 'ARM', 'AZE', 'GEO', 'TUR', 'AUT', 'CZE', 'DEU', 'HUN', 'ITA', 'SVK', 'SVN', 'CHE', 'RUS', 'BLR', 'LVA', 'LTU', 'POL', 'UKR', 'BEL', 'FRA', 'LUX', 'NLD', 'BIH', 'HRV', 'SRB', 'BGR', 'ROU', 'DNK', 'EST', 'FIN', 'NOR', 'SWE', 'ESP', 'GBR', 'IRL', 'KAZ', 'XKK', 'MDA', 'PRT']

In [22]:
## Neighboring countries of france
print("France neighboring countries:",list(country_g["FRA"]))

France neighboring countries: ['DEU', 'ITA', 'CHE', 'BEL', 'LUX', 'ESP', 'GBR']

## Train ride data

In [23]:
# How to get nodes
train_g = nx.read_gml("../data/city_train_network_duration.gml")
print("Sample of cities: ", list(train_g.nodes)[0:50])

Sample of cities:  ['Tirana', 'Graz', 'Innsbruck', 'Klagenfurt', 'Linz', 'Salzburg', 'Vienna', 'Baku', 'Minsk', 'Antwerp', 'Brussels', 'Charleroi', 'Liege', 'Ostend', 'Tuzla', 'Burgas', 'Sofia', 'Varna', 'Pula', 'Rijeka', 'Split', 'Zagreb', 'Brno', 'Prague', 'Aalborg', 'Aarhus', 'Copenhagen', 'Helsinki', 'Oulu', 'Rovaniemi', 'Tampere', 'Turku', 'Vaasa', 'Bastia', 'Bergerac', 'Biarritz', 'Bordeaux', 'Brest', 'Lille', 'Lyon-St', 'Marseille', 'Montpellier', 'Nantes', 'Nice', 'Paris', 'Rennes', 'Réunion', 'Strasbourg', 'Toulouse', 'Memmingen']

In [24]:
## Conections of nodes
## Each city is only conected to the cities in the same country or cities in neighboring countries
print(train_g["Ljubljana"])

{'Graz': {'weight': 177}, 'Innsbruck': {'weight': 375}, 'Klagenfurt': {'weight': 146}, 'Linz': {'weight': 338}, 'Salzburg': {'weight': 250}, 'Vienna': {'weight': 338}, 'Rijeka': {'weight': 179}, 'Split': {'weight': 548}, 'Zagreb': {'weight': 130}, 'Budapest': {'weight': 451}, 'Debrecen': {'weight': 621}, 'Ancona': {'weight': 511}, 'Bari': {'weight': 712}, 'Bergamo': {'weight': 449}, 'Bologna': {'weight': 360}, 'Florence': {'weight': 423}, 'Genoa': {'weight': 533}, 'Milan': {'weight': 423}, 'Naples': {'weight': 584}, 'Olbia': {'weight': 491}, 'Perugia': {'weight': 528}, 'Pescara': {'weight': 565}, 'Pisa': {'weight': 491}, 'Rome': {'weight': 490}, 'Treviso': {'weight': 281}, 'Trieste': {'weight': 159}, 'Turin': {'weight': 477}, 'Verona': {'weight': 349}}

In [25]:
## Shortest path
path = nx.shortest_path(train_g, "Ljubljana", "Stockholm", weight="weight")
print("Shortest weighted path: ", path)
print("Shortest weighted path: ", nx.shortest_path_length(train_g, "Ljubljana", "Stockholm", weight="weight"))

## Length of any path
nx.path_weight(train_g, path, weight="weight")

Shortest weighted path:  ['Ljubljana', 'Salzburg', 'Munich', 'Nuremberg', 'Hamburg', 'Copenhagen', 'Malmö', 'Stockholm']
Shortest weighted path:  1304

1304

## Car ride data

In [26]:
car_g = nx.read_gml("../data/city_car_network.gml")
print("Sample of cities: ", list(car_g.nodes)[0:50])

Sample of cities:  ['Graz', 'Tirana', 'Zvartnots', 'Innsbruck', 'Klagenfurt', 'Linz', 'Salzburg', 'Vienna', 'Baku', 'Minsk', 'Antwerp', 'Brussels', 'Charleroi', 'Liege', 'Ostend', 'Sarajevo', 'Tuzla', 'Burgas', 'Sofia', 'Varna', 'Dubrovnik', 'Pula', 'Rijeka', 'Zadar', 'Zagreb', 'Larnaca', 'Paphos', 'Brno', 'Prague', 'Aalborg', 'Aarhus', 'Billund', 'Copenhagen', 'Vágar', 'Tallinn', 'Helsinki', 'Kittilä', 'Oulu', 'Rovaniemi', 'Tampere', 'Turku', 'Vaasa', 'Ajaccio', 'Bastia', 'Bergerac', 'Biarritz', 'Bordeaux', 'Brest', 'Figari', 'Lille']

In [30]:
## Conections of nodes
## In this case each city has a connection to all other cities and two weights
## distance is measured in meters
## duration is measured in seconds
print(list(dict(car_g["Ljubljana"]).items())[0:50])

[('Graz', {'distance': 193423, 'duration': 8001}), ('Tirana', {'distance': 933925, 'duration': 43341}), ('Zvartnots', {'distance': 3110936, 'duration': 119101}), ('Innsbruck', {'distance': 447904, 'duration': 17922}), ('Klagenfurt', {'distance': 85962, 'duration': 5297}), ('Linz', {'distance': 410203, 'duration': 15581}), ('Salzburg', {'distance': 287198, 'duration': 11754}), ('Vienna', {'distance': 380123, 'duration': 14443}), ('Baku', {'distance': 3675402, 'duration': 148993}), ('Minsk', {'distance': 1596368, 'duration': 58739}), ('Antwerp', {'distance': 1187972, 'duration': 44888}), ('Brussels', {'distance': 1155243, 'duration': 44539}), ('Charleroi', {'distance': 1132080, 'duration': 43133}), ('Liege', {'distance': 1072306, 'duration': 41299}), ('Ostend', {'distance': 1269594, 'duration': 48399}), ('Sarajevo', {'distance': 537898, 'duration': 21874}), ('Tuzla', {'distance': 1536699, 'duration': 53711}), ('Burgas', {'distance': 1312272, 'duration': 44562}), ('Sofia', {'distance': 921293, 'duration': 32593}), ('Varna', {'distance': 1362980, 'duration': 50257}), ('Dubrovnik', {'distance': 661083, 'duration': 25920}), ('Pula', {'distance': 204279, 'duration': 8922}), ('Rijeka', {'distance': 115455, 'duration': 6588}), ('Zadar', {'distance': 342900, 'duration': 14414}), ('Zagreb', {'distance': 141458, 'duration': 6243}), ('Larnaca', {'distance': 2560418, 'duration': 106904}), ('Paphos', {'distance': 2664146, 'duration': 110562}), ('Brno', {'distance': 510130, 'duration': 19626}), ('Prague', {'distance': 652297, 'duration': 26234}), ('Aalborg', {'distance': 1647654, 'duration': 60192}), ('Aarhus', {'distance': 1538222, 'duration': 56506}), ('Billund', {'distance': 1483186, 'duration': 54577}), ('Copenhagen', {'distance': 1393026, 'duration': 57341}), ('Vágar', {'distance': 2933878, 'duration': 198249}), ('Tallinn', {'distance': 2020908, 'duration': 79404}), ('Helsinki', {'distance': 2108973, 'duration': 91177}), ('Kittilä', {'distance': 3239774, 'duration': 129585}), ('Oulu', {'distance': 2717836, 'duration': 115784}), ('Rovaniemi', {'distance': 3178024, 'duration': 126510}), ('Tampere', {'distance': 2286961, 'duration': 98207}), ('Turku', {'distance': 2274441, 'duration': 97118}), ('Vaasa', {'distance': 2528241, 'duration': 107757}), ('Ajaccio', {'distance': 886936, 'duration': 50732}), ('Bastia', {'distance': 738508, 'duration': 41752}), ('Bergerac', {'distance': 1401154, 'duration': 50632}), ('Biarritz', {'distance': 1661967, 'duration': 58508}), ('Bordeaux', {'distance': 1489624, 'duration': 53292}), ('Brest', {'distance': 1831897, 'duration': 65182}), ('Figari', {'distance': 900757, 'duration': 51273}), ('Lille', {'distance': 1240240, 'duration': 47135})]

In [31]:
## Shortest path Ljubljan and Sweeden
## Does not need to the nx.shortest_path algorithm as all nodes should be connected (a few exceptions exist)
car_g["Ljubljana"]["Stockholm"]

{'distance': 2037178, 'duration': 80805}

# Airport Network
Nodes contain iata codes and city names as attributes.
Edges contain only distance

In [52]:
airport_network = nx.read_gml("../data/airport_network.gml")
print(list(airport_network.nodes(data=True))[0:5])
print(list(airport_network.edges(data=True))[0:5])

[('TIA', {'city': 'Tirana'}), ('EVN', {'city': 'Zvartnots'}), ('GRZ', {'city': 'Graz'}), ('INN', {'city': 'Innsbruck'}), ('KLU', {'city': 'Klagenfurt'})]
[('TIA', 'EVN', {'distance': 2076331}), ('TIA', 'GRZ', {'distance': 706492}), ('TIA', 'INN', {'distance': 928731}), ('TIA', 'KLU', {'distance': 722607}), ('TIA', 'LNZ', {'distance': 873242})]

# Flight Network

Nodes contain city names to combine them with other networks.
Edges contain distance and estimated duration.

In [53]:
flight_network = nx.read_gml("../data/flight_network.gml")
list(flight_network.edges(data=True))[0:5]

[('TIA', 'EVN', {'distance': 2076331, 'duration': 11967}),
 ('TIA', 'GRZ', {'distance': 706492, 'duration': 5634}),
 ('TIA', 'INN', {'distance': 928731, 'duration': 6661}),
 ('TIA', 'KLU', {'distance': 722607, 'duration': 5708}),
 ('TIA', 'LNZ', {'distance': 873242, 'duration': 6405})]